.container.education__container {
  width: 40%;
  padding-bottom: 4rem;
}

.education {
  margin-bottom: 2rem;
  background: var(--color-bg-variant);
  border-radius: 2rem 2rem 2rem 2rem;
  border: 1px solid var(--color-primary);
  height: fit-content;
  transition: var(--transition);
}

.education:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.education__head {
  background: var(--color-primary);
  padding: 1rem;
  border-radius: 2rem 2rem 2rem 2rem;
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}

.education__head h3 {
  color: var(--color-bg);
  font-size: 1.2rem;
}

.education__list {
  padding: 2rem;
}

.education__list li {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.8rem;
}

.education__list-icon {
  color: var(--color-primary);
  margin-top: 2px;
}

.education__list p {
  font-size: 0.9rem;
}

ul.education_courseList {
  padding-left: 1rem;
}
ul.education_courseList li {
  list-style: square outside none;
  display: list-item;
  margin-left: 1rem;
  color: var(--color-primary);
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
  .education__container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .education {
    height: auto;
  }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
  .education__container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}
